.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }



.gallery-first img { height: 540px; /*border: 1px solid #ddd; border-radius: 2px; padding: 4px;*/}
.margin-port img { height: 255px;}
.cold_coffee_img  img{ height: 80px; width:100%; border-radius:50px; border: 1px solid #ddd; padding: 4px;}

.original-image {
  margin-bottom: 50px;
}

.image {
  float: left;
  width: 40%;
  margin: 0 30px 20px 0;
  
  &:nth-child(2n) {
    clear: left;
  }
  
  &:nth-child(2n+1){
    margin-right: 0;
  }
}